[Unit]
Description=Restart the REST Service

[Service]
Type=forking
User=ubuntu
TimeoutStartSec=180

WorkingDirectory=/var
ExecStart=/var/applicationstart.sh

[Install]
WantedBy=multi-user.target